apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: provider-azure
  namespace: crossplane-system
stringData:
  credentials: |
    {
      "clientId": "<clientId>",
      "clientSecret": "<clientSecret>",
      "subscriptionId": "<subscriptionId>",
      "tenantId": "<tenantId>",
      "activeDirectoryEndpointUrl": "https://login.microsoftonline.com",
      "resourceManagerEndpointUrl": "https://management.azure.com/",
      "activeDirectoryGraphResourceId": "https://graph.windows.net/",
      "sqlManagementEndpointUrl": "https://management.core.windows.net:8443/",
      "galleryEndpointUrl": "https://gallery.azure.com/",
      "managementEndpointUrl": "https://management.core.windows.net/"
    }
